<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="https://rafaelssantos.github.io/horarios-arapongas/">IFPR Campus Avançado Arapongas</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuPrincipal">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="menuPrincipal">
            <ul class="navbar-nav me-auto">
        
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Turmas</a>
        
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="https://rafaelssantos.github.io/horarios-arapongas/turmas/assistente-administrativo.html">FIC Assistente Administrativo</a></li>
                        <li><a class="dropdown-item" href="https://rafaelssantos.github.io/horarios-arapongas/turmas/cursinho-noturno.html">FIC Cursinho Noturno</a></li>
                        <li><a class="dropdown-item" href="https://rafaelssantos.github.io/horarios-arapongas/turmas/cursinho-vespertino.html">FIC Cursinho Vespertino</a></li>
                        <li><a class="dropdown-item" href="https://rafaelssantos.github.io/horarios-arapongas/turmas/hortas-e-abelhas.html">FIC Hortas e Abelhas</a></li>
                        <li><a class="dropdown-item" href="https://rafaelssantos.github.io/horarios-arapongas/turmas/pesquisa-educacional.html">FIC Pesquisa Educacional</a></li>
                        <li><a class="dropdown-item" href="https://rafaelssantos.github.io/horarios-arapongas/turmas/pesquisas-e-poeticas.html">FIC Pesquisas e Poéticas</a></li>
                        <li><a class="dropdown-item" href="https://rafaelssantos.github.io/horarios-arapongas/turmas/programacao-web.html">FIC Programação Web</a></li>
                        <li><a class="dropdown-item" href="https://rafaelssantos.github.io/horarios-arapongas/turmas/ser-2026.html">SER 2026</a></li>
                        <li><a class="dropdown-item" href="https://rafaelssantos.github.io/horarios-arapongas/turmas/tpg-2026.html">TPG 2026</a></li>
                    </ul>      
                </li>
                <li class="nav-item dropdown">   
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">EaD</a>

                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="https://rafaelssantos.github.io/horarios-arapongas/ead/ead-logistica-arapongas.html">EaD Logística - Polo Arapongas</a></li>
                        <li><a class="dropdown-item" href="https://rafaelssantos.github.io/horarios-arapongas/ead/ead-logistica-cambe.html">EaD Logística - Polo Cambé</a></li>
                        <li><a class="dropdown-item" href="https://rafaelssantos.github.io/horarios-arapongas/ead/ead-logistica-ibipora.html">EaD Logística - Polo Ibiporã</a></li>
                        <li><a class="dropdown-item" href="https://rafaelssantos.github.io/horarios-arapongas/ead/ead-logistica-rolandia.html">EaD Logística - Polo Rolândia</a></li>

                        <li><a class="dropdown-item" href="https://rafaelssantos.github.io/horarios-arapongas/ead/ead-seguranca-arapongas.html">EaD Segurança do Trabalho - Polo Arapongas</a></li>
                        <li><a class="dropdown-item" href="https://rafaelssantos.github.io/horarios-arapongas/ead/ead-seguranca-cambe.html">EaD Segurança do Trabalho - Polo Cambé</a></li>
                        <li><a class="dropdown-item" href="https://rafaelssantos.github.io/horarios-arapongas/ead/ead-seguranca-ibipora.html">EaD Segurança do Trabalho - Polo Ibiporã</a></li>
                        <li><a class="dropdown-item" href="https://rafaelssantos.github.io/horarios-arapongas/ead/ead-seguranca-rolandia.html">EaD Segurança do Trabalho - Polo Rolândia</a></li>

                        <li><a class="dropdown-item" href="https://rafaelssantos.github.io/horarios-arapongas/ead/ead-vendas-arapongas.html">EaD Vendas - Polo Arapongas</a></li>
                        <li><a class="dropdown-item" href="https://rafaelssantos.github.io/horarios-arapongas/ead/ead-vendas-cambe.html">EaD Vendas - Polo Cambé</a></li>
                    </ul>
                </li>
        
                <!-- Salas -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Salas</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="https://rafaelssantos.github.io/horarios-arapongas/salas/lab-de-energias.html">Lab de Energias</a></li>
                        <li><a class="dropdown-item" href="https://rafaelssantos.github.io/horarios-arapongas/salas/lab-de-informatica-1.html">Lab de Informática 1</a></li>
                        <li><a class="dropdown-item" href="https://rafaelssantos.github.io/horarios-arapongas/salas/lab-de-informatica-2.html">Lab de Informática 2</a></li>
                        <li><a class="dropdown-item" href="https://rafaelssantos.github.io/horarios-arapongas/salas/lab-de-hortas-e-abelhas.html">Lab de Hortas e Abelhas</a></li>
                        <li><a class="dropdown-item" href="https://rafaelssantos.github.io/horarios-arapongas/salas/sala-1.html">Sala 1</a></li>
                        <li><a class="dropdown-item" href="https://rafaelssantos.github.io/horarios-arapongas/salas/sala-2.html">Sala 2</a></li>
                        <li><a class="dropdown-item" href="https://rafaelssantos.github.io/horarios-arapongas/salas/sala-3.html">Sala 3</a></li>
                        <li><a class="dropdown-item" href="https://rafaelssantos.github.io/horarios-arapongas/salas/sala-4.html">Sala 4</a></li>
                        <li><a class="dropdown-item" href="https://rafaelssantos.github.io/horarios-arapongas/salas/sala-5.html">Sala 5</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>